body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.slider {
  width: 640px;
  height: 420px;
  overflow: hidden;
  position: relative;
  background-color: #ededed;
}

.slider-slides-wrapper {
  display: flex;
  width: 1920px;
  height: 420px;
  flex-wrap: nowrap;
}

.slider-slide {
  width: 640px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-slide img {
  height: 100%;
}

.slider-controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.slider-control {
  cursor: pointer;
  color: #fff;
  opacity: 0.5;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.slider-nav {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-nav-item {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.5;
  cursor: pointer;
}

.slider-nav-item.active {
  opacity: 1;
  transform: scale(1.2);
}
